.content.submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: rgb(240, 235, 235);
  header {
    text-align: center;
  }

  label {
    padding: 5px;
  }

  .box {
    width: 70%;
    margin-bottom: 60px;
    @media screen and (max-width: 1000px) {
      width: 80%;
    }

    @media screen and (max-width: 580px) {
      width: 90%;
    }
  }
}

.content.submission.after {
  padding-top: 20vh;
  padding-bottom: 20vh;
}
